# Configuration file

"bug fixes" {
    # Chunk-wise entity lists often don't get updated correctly (Entities disappear)
    B:mc108469 <
        true
        true
     >

    # Elytras can't open in laggy game.
    B:mc111444 <
        true
        true
     >

    # §c[Experimental]§e Blocks take multiple attempts to mine
    B:mc118710 <
        true
        true
     >

    # Various duplications, deletions, and data corruption at chunk boundaries, caused
    # by loading outdated chunks â€” includes duping and deletion of entities/mobs,
    # items in hoppers, and blocks moved by pistons, among other problems
    B:mc119971 <
        true
        true
     >

    # Items do not move through blocks smoothly
    B:mc123320 <
        true
        true
     >

    # AbstractMap::hashCode accounts for substantial CPU overhead (from profiling)
    B:mc134989 <
        true
        true
     >

    # Leads in unloaded chunks break, become invisible or connect to an invisible target far away
    B:mc14826 <
        true
        true
     >

    # Mobs going out of fenced areas/suffocate in blocks when loading chunks
    B:mc2025 <
        true
        true
     >

    # Item drops sometimes appear at the wrong location
    B:mc4 <
        true
        true
     >

    # Blocks attached to slime blocks can create ghost blocks
    B:mc54026 <
        true
        true
     >

    # High efficiency tools / fast mining destroys some blocks client-side only
    B:mc5694 <
        true
        true
     >

    # Witch Hut structure data do not account for height the witch hut is generated at
    B:mc73051 <
        true
        true
     >

    # Mobs suffocate when going through nether portals.
    B:mc80032 <
        true
        true
     >

    # Player is removed from the EntityTracker when teleporting to unloaded chunks or changing dimensions,
    # resulting in client side desync
    B:mc92916 <
        true
        true
     >

    # Mobs suffocate / go through blocks when growing up near a solid block
    B:mc9568 <
        true
        true
     >

    # Portals generate far-away chunks & set player on fire.
    B:mc98153 <
        true
        true
     >
}


optimizations {
    # This is a complete drop in replacement for the vanilla Block and Sky lighting engine.
    # It provides considerable performance improvements to light updates and fixes many
    # vanilla lighting bugs such as MC-3329, MC-3961, MC-9188, MC-11571, MC-80966,
    # MC-91136, MC-93132, MC-102162, and likely others.
    B:newlight <
        false
        false
     >

    # This is a rewrite of redstone wire developed by theosib with the aim of increasing
    # performance while maintaining compatibility with vanilla as much as possible. It has
    # been shown to increase performance by as much as 10x and removes directional or
    # locational requirements for many things. It fixes MC-81098 and MC-11193.
    B:rsturbo <
        true
        true
     >
}


tweaks {
    # Prevents the server from resetting the position of (rubber banding) clients that move "too quickly".
    B:dac <
        false
        false
     >

    # [NOT FUNCTIONAL] Controls how close an entity must be to a client before the client displays it and keeps track of it.
    # Setting the tracking distance larger than the view distance will cause the it to be set to the current view distance.
    B:etde <
        false
        false
     >

    # Enables server MSPT/TPS display in player list overlay and enables the overlay in
    # single player. Shows 5 second average and updates once per second.
    B:hud <
        true
        true
     >

    # Enables server side profiler features available under the /tickhealth command:
    #     /tickhealth <basic|entities> [tick count]
    B:profiler <
        false
        false
     >

    etde {

        distances {
            I:AreaEffectCloud=160
            I:ArmorStand=160
            I:Arrow=64
            I:Bat=80
            I:Boat=80
            I:Dragon=160
            I:Egg=64
            I:EnderCrystal=256
            I:EnderEye=64
            I:EnderPearl=64
            I:EvokerFangs=160
            I:ExpBottle=64
            I:FallingBlock=160
            I:Fireball=64
            I:FireworkRocket=64
            I:FishHook=64
            I:Hanging=160
            I:Item=64
            I:LlamaSpit=64
            I:Minecart=80
            I:Mobs=80
            I:Player=512
            I:Potion=64
            I:PrimedTNT=160
            I:ShulkerBullet=80
            I:SmallFireball=64
            I:Snowball=64
            I:Squid=64
            I:Wither=80
            I:XPOrb=160
        }

    }

}


